<a href="https://colab.research.google.com/github/aditya-malte/AI-Powered-Distracted-Driver-Monitoring/blob/master/Cricket_Analysis/Match_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Using Machine Learning for Match Result Prediction

##Import Libraries

In [0]:
import pandas as pd
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
import numpy as np


import getpass

##Clone Repo

In [0]:
repo_name = "Dassault-Data-Science-Internship"
if repo_name not in os.listdir():
  username = input("'User: ")
  password = getpass.getpass(prompt='Password: ', stream=None) 
  os.system("git clone https://"+username+":"+password+"@github.com/"+username+"/"+repo_name+".git")

In [3]:
%cd {repo_name}/Cricket_Analysis
!ls

/content/Dassault-Data-Science-Internship/Cricket_Analysis
 Batsman_Data.csv	  Ground_Averages.csv	    ODI_Match_Totals.csv
 Bowler_data.csv	 'India Match result.csv'   WC_players.csv
 Cricket_Analysis.ipynb   ODI_Match_Results.csv

##Data Pre-processing / Wrangling

In [4]:
data = pd.read_csv("India Match result.csv")
data = data[["Opposition", "Ground", "Toss", "Bat", "Result"]]
data.head()

   Opposition   Ground  Toss  Bat Result
0  v Pakistan  Kolkata   won  2nd   lost
1  v Pakistan    Delhi   won  1st    won
2   v England   Rajkot  lost  2nd   lost
3   v England    Kochi   won  1st    won
4   v England   Ranchi   won  2nd    won

###Delete very rare/NULL values

In [5]:
print(data["Result"].value_counts())

won     99
lost    49
n/r      5
tied     3
canc     2
aban     2
Name: Result, dtype: int64

In [6]:
print(data["Toss"].value_counts())

lost    78
won     78
-        4
Name: Toss, dtype: int64

In [7]:
print(data["Bat"].value_counts())

2nd    91
1st    65
-       4
Name: Bat, dtype: int64

In [0]:
data.drop(data[data["Toss"]=="-"].index, inplace=True)
data.drop(data[data["Bat"]=="-"].index, inplace=True)
data.drop(data[data["Result"]=="n/r"].index, inplace=True)
data.drop(data[data["Result"]=="tied"].index, inplace=True)

In [9]:
print(data["Result"].value_counts())

won     99
lost    49
Name: Result, dtype: int64

In [10]:
print(data["Toss"].value_counts())

lost    74
won     74
Name: Toss, dtype: int64

In [11]:
print(data["Bat"].value_counts())

2nd    87
1st    61
Name: Bat, dtype: int64

##Perform One-Hot Encoding

In [0]:
data = pd.get_dummies(data, columns = ["Opposition", "Ground", "Toss", "Bat", "Result"] )
data = data.drop("Result_lost", axis=1)

In [13]:
test = data[:10]
data = data[10:]
data.head()

    Opposition_v Afghanistan  Opposition_v Australia  ...  Bat_2nd  Result_won
10                         0                       0  ...        1           1
11                         0                       0  ...        0           1
12                         0                       0  ...        0           0
13                         0                       0  ...        1           0
14                         0                       0  ...        0           1

[5 rows x 73 columns]

In [0]:
y = data["Result_won"]
x = data.drop("Result_won", axis=1)

In [15]:
x.head()

    Opposition_v Afghanistan  Opposition_v Australia  ...  Bat_1st  Bat_2nd
10                         0                       0  ...        0        1
11                         0                       0  ...        1        0
12                         0                       0  ...        1        0
13                         0                       0  ...        0        1
14                         0                       0  ...        1        0

[5 rows x 72 columns]

In [16]:
y.head()

10    1
11    1
12    0
13    0
14    1
Name: Result_won, dtype: uint8

##Build and Train Model

In [17]:
model = LogisticRegression(multi_class="auto", solver = "lbfgs") #Basic Logistic Regression Model

# K-Fold Cross validation
scores = (cross_val_score(model, x, y, cv=5))
print(scores)
print(np.mean(scores))

[0.62068966 0.67857143 0.51851852 0.51851852 0.74074074]
0.6154077723043241

In [0]:
test_y = test["Result_won"]
test = test.drop("Result_won", axis=1)

In [19]:
model.fit(x, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

##Run Prediction

In [20]:
print("Predicted    : ",list(model.predict(test)))
print("Ground Truth : ",list(test_y))

Predicted    :  [1, 1, 0, 0, 0, 1, 1, 1, 1, 1]
Ground Truth :  [0, 1, 0, 1, 1, 1, 0, 1, 1, 1]

##Check with respect to original dataset

In [21]:
data = pd.read_csv("India Match result.csv")
data = data[["Opposition", "Ground", "Toss", "Bat", "Result"]]
data[:10].head(10)

       Opposition      Ground  Toss  Bat Result
0      v Pakistan     Kolkata   won  2nd   lost
1      v Pakistan       Delhi   won  1st    won
2       v England      Rajkot  lost  2nd   lost
3       v England       Kochi   won  1st    won
4       v England      Ranchi   won  2nd    won
5       v England      Mohali   won  2nd    won
6       v England  Dharamsala  lost  1st   lost
7  v South Africa     Cardiff  lost  1st    won
8   v West Indies    The Oval   won  2nd    won
9      v Pakistan  Birmingham   won  2nd    won